In [193]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

Scraping the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.

In [192]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
r = requests.get(url)
# Extracts the response as HTML
html_doc = r.text
# Create a BeautifulSoup object from the HTML
soup = BeautifulSoup(html_doc)
# Extract the tabular data from soup and create a dataframe
table = soup.find_all('table')[0]
df_raw = pd.read_html(str(table))[0]
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 3 columns):
Postcode         287 non-null object
Borough          287 non-null object
Neighbourhood    287 non-null object
dtypes: object(3)
memory usage: 6.8+ KB

Ignoring cells with a borough that is Not assigned

In [233]:
df = df_raw[df_raw['Borough']!="Not assigned"]

Combine Neighborhoods if their postcodes are the same

In [232]:
# Sepsum function: Input: list of strings, output: sum of the strings in the list with seperator ','
def sepsum(l):
    m = ""
    for i,j in enumerate(l):
        m = m + j
        if i<len(l)-1:
            m = m + ", "
    return m
        
        
# Combining rows whose postcodes are the same
df1 = df.groupby(['Postcode','Borough']).agg(sepsum).reset_index()

If a neighbourhood is not assigned, replace it by its Borough

In [230]:
df1.Neighbourhood[df1['Neighbourhood'] == "Not assigned"] = df1.Borough 
df1.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [231]:
# Shapes
print('The number of rows of the dataframe is '+ str(df1.shape[0]))

The number of rows of the dataframe is 103